page-formation {
  .comp{
    background-color: #d5d5d4;
    padding: 16px;
  }
  .sld-comp{
    position: relative;
    width: 100px;
    height: 100px;
  }
  span{
    font: caption;
    font-style: italic;
    font-size: medium;
  }
  .form{
    background-color: #d5d5d4;
    padding: 16px;
  }
}
